@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto',sans-serif;
    color:var(--white);
}

/* CSS HEX */
:root{
--battleship-gray: #949494ff;
--jet: #2C2C2Cff;
--white: #FFFFFFff;
--red-cmyk: rgb(160, 51, 45);
--gray: #797979ff;

}
/* #DF2F26ff */

.mainContainer{
    display: flex;
}
.LogoSide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height:100vh;
    background-color: var(--white);
    border-right: solid 5px var(--jet);
    box-sizing: border-box;
}

.formSide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height:100vh;
    background-color: var(--red-cmyk);
}

 .logoSide img{
    width: 1em;
    height: 1em;
} 

.form{
    width: 30em;
    height: 40em;
    box-sizing: border-box;
    border: 2px solid var(--red-cmyk);
    border-radius: 30px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    background-color:rgb(236, 214, 184);
    
}
.formHeading h1{
    padding: 2px;
    font-size: 1.5em;
    font-family: 'Roboto',sans-serif;
    color: var(--white);
    
}

.formHeading{
    background-color: var(--red-cmyk);
    /* margin: 10px; */
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBody{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 80%;
   
    justify-content: space-between;
}

.formContents{
    display: flex;
    flex-wrap: wrap;

}

.details{
    width: 100%;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: space-between;
}
    

input {
    background-color: var(--white);
    border: none;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    border: 1px solid var(--white);
    transition: all .5s ease-in;
    color: var(--red-cmyk);
    height: 60%;
    border-radius: 10px;
}

label{
    font-family: 'Roboto',sans-serif;
    color:var(--red-cmyk);
    font-size: 75%;
}

input::placeholder{
    color:var(--red-cmyk);
    font-size: 10px;
    
}

.formDetails1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    background-color: var(--red-cmyk);
    color:var(--white);
    border: 1px solid var(--jet);
    font-family: 'Roboto',sans-serif;
    border-radius: 10px;
    font-size: 17px;
    outline: none;
    letter-spacing: 0.02em;
    height:2.5em;
    width: 8em;

}
a{
    color:var(--jet);
}

.formDetails1 .subscribe , .terms{
    display: flex;
    justify-content: center;
    align-items: center;    
    color:var(--red-cmyk);
}
.LoginText{
    color:var(--red-cmyk);
}

.detailsPasswordConfirmation{
    display: flex;
    flex-direction: column;
    gap:2px;
}
.error{
    color:var(--red-cmyk);
    font-size: 70%;
    display: none;;

}

input:invalid{
    border-color: rgb(255, 0, 0);
}

input:valid{
    border-color:green;
}




/*
    FOR MOBILE VERSION
*/
@media only screen and (max-width:540px) {
    .mainContainer{
        display: flex;
        flex-direction: column;
    }

    .LogoSide{
        width: 100vw;
        height: 20vh;
        border-bottom: solid 5px var(--jet);
    }
    .formSide{
        width: 100vw;
        height: 80vh;
    }
    .form{
        width: 90%;
        height: 90%;
    }
    label{
        font-size: 60%;
    }

    .subscribe, .terms{
        font-size: 80%;
    }
}


